<app-header></app-header>
<section>
    <div class="container dark-mode custom-page">
        <div class="row mt-5">
            <div class="col-sm-12 mt-5 text-center">
                <img src="../../assets/banner.jpg" class="img-fluid rounded">
            </div>
            <div class="col-sm-12 mt-2 text-center">
                <h2 class="mega-title">Experience The <b>Bhagavada Geeta</b>. Anywhere, Anytime</h2>
                <!-- <button type="button" class="btn btn-outline-primary">Start Now</button> -->
                <a routerLink="chapter" class="btn btn-outline-primary">Start Now</a>
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>
